body {margin: 0}

img {margin: 0}

.sss {

  background-image: url(https://iili.io/FPZfNp.jpg);
  background-size: 1950px;
  background-repeat: no-repeat;

}

header {background-color: black} 

#gay {margin-left:300px;} 
  
#gay2 {height:200px;margin-left:15px}  

#ime {
margin-left: 1135px;
 margin-top: 1273px; 
  height:30px; width:300px; font-size:17px;
}


h2 {
  margin-top: 900px;
  font-size: 130px;
}
h6 { margin: 0;
  font-size: 70px;
  margin-top: 130px;
  margin-left: 855px;
  font-family: fantasy;
}

.color {
  background: linear-gradient(red,blue); 
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.prob {
  margin-top: 40px;
  height: 150px; width: 200px;
  margin-left: 1125px;
  background-color: rgb(255,255,255,0.0);
}
