body {margin: 0}

img {margin: 0}

.sss {

  background-image: url(https://iili.io/FPZfNp.jpg);
  background-size: 2025px;
  background-repeat: no-repeat;

}

header {background-color: black} 

#gay {margin-left:225px;}

#ime {
margin-left: 1185px;
 margin-top: 1327px;
}


h2 {
  margin-top: 900px;
  font-size: 130px;
}
h6 { margin: 0;
  font-size: 48px;
  margin-top: 165px;
  margin-left: 888px;
  font-family: fantasy;
}

.color {
  background: linear-gradient(red,blue);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.prob {
  margin-top: 48px;
  height: 70px; width: 100px;
  margin-left: 1125px;
  background-color: rgb(255,255,255,0.0);
}
